  <div class="grid justify-items-center">
    <footer class="card footer footer-center text-base-content w-11/12 mb-5">
      <div>
        <p>© 2023 Genderstanding</p>
      </div>
    </footer>
  </div>
</html>