<%- include('partials/header') -%>
    <div class="grid bg-base-100 justify-items-center mt-2.5 border border-black flex-shrink-1 shadow-xl mb-2.5 rounded-lg p-5 m-5">
        <h1 class="text-5xl font-bold text-primary">About<span class="text-secondary"> Genderstanding</span></h1>
        <p class="mt-5">Gender identity has become a hot-button topic of debate on national and international stages. Unfortunately, current social media platforms skew algorithms toward engagement at any cost: conversations become unproductive arguments at a rapid pace.
        <br /><br />
        Genderstanding was created because I witnessed multiple conversations that spun out of control on social media. Everybody participating in threads approached conflict by yelling their own thoughts into a void; that behavior is exactly what currently-available platforms are designed for: louder, radical thoughts rise to the top.
        <br /><br />
        It is my hope that resources gathered on this platform will create a personal, intimate space for the expansion of knowledge surrounding gender identity. Not only for transgender and gender nonconfirming participants, but for those members of our society that have never had a place to ask their first question about these topics.
        <br /><br />
        Thank you in advance for participating and conducting yourself in a loving, learning manner.</p>
    </div>
<%- include('partials/footer') -%>